In [6]:
import pandas as pd
import numpy as np

In [3]:
# Series - 1 dim array of labeled data
pd.Series(['A', 'B', 'C'])

0    A
1    B
2    C
dtype: object

In [9]:
# Dataframe - 2 dim array of labeled data
df = pd.DataFrame({
    "Name": ["Yossi", "Anna", "Alexey"],
    "Color": ["Red", "Blue", "Yellow"],
    "Random": [10.0, np.nan, np.nan]
})

In [10]:
df

     Name   Color  Random
0   Yossi     Red    10.0
1    Anna    Blue     NaN
2  Alexey  Yellow     NaN

In [11]:
df["Random"]

0    10.0
1     NaN
2     NaN
Name: Random, dtype: float64

In [13]:
df.to_csv('data.csv', index=False)

# Exercise 1

In [24]:
my_series = pd.Series([20, 30, 15, 10], index=['Apples', 'Bananas', 'Cherries', 'Daes'])

In [25]:
my_series

Apples      20
Bananas     30
Cherries    15
Daes        10
dtype: int64

# Exercise 2

In [32]:
my_df = pd.DataFrame({
    "Quantity": [20, 30, 15, 10],
    "Color": ["Red", "Yellow", "Red", "Brown"],
    "Price_per_kg": [3, 2, 4, 5]
}, index=['Apples', 'Bananas', 'Cherries', 'Dates'])

In [33]:
my_df

          Quantity   Color  Price_per_kg
Apples          20     Red             3
Bananas         30  Yellow             2
Cherries        15     Red             4
Dates           10   Brown             5

In [34]:
my_df.loc["Apples"]

Quantity         20
Color           Red
Price_per_kg      3
Name: Apples, dtype: object

In [37]:
my_df.iloc[1]

Quantity            30
Color           Yellow
Price_per_kg         2
Name: Bananas, dtype: object

In [35]:
my_df.to_csv('store_1_stock.csv')

# Exercise 3

In [40]:
store_1_stock = pd.read_csv('store_1_stock.csv', index_col=0)
store_1_stock

          Quantity   Color  Price_per_kg
Apples          20     Red             3
Bananas         30  Yellow             2
Cherries        15     Red             4
Dates           10   Brown             5